@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/* Customer Scroll Bar CSS */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #fd6267;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-slider-thumb:hover{
    background: #fd6267;
}

/* navbar styling */
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #fd6267;
    text-shadow: 0 0 10px #fd6267;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem,0.5rem + 5vw, 3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fd6267;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: #fd6267;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px)brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #fd6267;
}

section{
    width: 100%;
    min-height: 90vh;
}

.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 100px;
    align-items: center;
}

.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #fd6267;
}

.main-container .image img{
    width: 100%;
}

.main-container .image:hover{
   animation:  animate 1.5s ease-in-out infinite; 
}

@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: 25px;
}

.content h1 span{
    color: #fd6267;
    text-shadow: 0 0 10px #fd6267;
}

.content .typewriter{
    font-size: 40px;
    font-weight: 600;
}

.content .typewriter-text{
    color: #fd6267;
    text-shadow: 0 0 10px #fd6267;
    font-size: 50px;
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1.5rem);
    margin: 10px 0;
}


.typewriter{
    color: white;
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

.typewriter-text{
    font-size: 3.5rem;
    color: #fd6267;
}
 
.typewriter label{
    font-size: 3.5rem;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #fd6267;
    border-radius: 50%;
    color: #fd6267;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: #fd6267;
    filter: drop-shadow(0 0 10px #fd6267);
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 150px 80px;
    background-color: #fd6267;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button a{
    font-size: 20px;
    margin: 10px;
    align-items: center;
    color: black;
}

.content button:hover{
    scale: 1.1;
    color: #fd6267;
    border: 2px solid #fd6267;
    background-color: white;
    font-weight: 700;
    box-shadow: 0 0 40px #fd6267;
}

/* About Section Styles */

section .content{
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', 'sans-serif';
 }

.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
 
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fd6267;
    left: 0;
    bottom: 0;
}

section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left{
    width: 45%;
}
 
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right{
    width: 45%;
}

section .topic{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.about-details .rigth p{
    text-align: justify;
    color: white;
}

.about-details p{
    font-size: 13px;
}

.center li{
    font-size: 13px;
}

.center{
    padding: 5px;
}

section .button{
    margin: 16px 0;
}

section .button button{
    outline: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    background: #fd6267;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4 ease;
 }

 section .button button:hover{
    border-color: #fd6267;
    background-color: #ffffff;
    color: #fd6267;
 }

/* skills Section Styles */

.skills {
    background: #000000; /* Dark background */
    padding: 60px 0; /* Adjusted padding for better spacing */
    color: white;
}

.skills .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.skills .title {
    font-size: 36px;
    text-align: center;
    color: #fd6267; /* Highlighted title color */
    font-weight: bold;
}

.skills-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.skills-details .text {
    width: 80%;
    margin-bottom: 40px;
    text-align: center;
}

.skills-details .topic {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

.skills-details p {
    font-size: 16px;
    text-align: justify;
    color: #ddd;
    line-height: 1.6;
}

.skills-details .experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.skills-details .experience .num {
    font-size: 80px;
    color: #fd6267;
    margin-right: 10px;
}

.skills-details .experience .exp {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.skills-details .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.skills-details .box {
    width: calc(33.33% - 20px);
    background-color: #1c1c1c;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.skills-details .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.skills-details .box .topic {
    font-size: 20px;
    color: #fd6267;
    margin-bottom: 15px;
}

.skills-details .box .per {
    font-size: 50px;
    color: #fd6267;
    font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .skills-details .text {
        width: 90%;
    }

    .skills-details .boxes {
        justify-content: center;
    }

    .skills-details .box {
        width: calc(50% - 20px); /* Two boxes per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .skills-details .box {
        width: 100%; /* Single box per row on very small screens */
    }
}


/* services Section Styles */

.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box{
    margin: 20px 0;
    width: calc(100% /3 -20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover{
    background: #fd6267;
    color: #ffffff;
}

.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #fd6267;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon{
    background: #ffffff;
    color: #fd6267;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #ffffff;
}

/* projects Section Styles */

.projects .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .boxes .box{
    margin: 20px 0;
    width: calc(100% /3 -20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.projects .boxes .box:hover{
    background: #fd6267;
    color: #ffffff;
}

.projects .boxes .box:hover .topic,
.projects .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;
}

.projects .boxes .box:hover .topic,
.projects .boxes .box:hover p{
    color: #ffffff;
}

/* contact me Section Styles */

.contact{
    background: black;
}

.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text .topic{
    width: 100%;
    text-align: left;
    margin: 10px;
}

.contact .text{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.contact .text p{
    font-size: 15px;
}

.contact .text p span{
    color: #fd6267;
}

/* footer Section Styles */

footer{
    background: #fd6267;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppons', 'sans-serif';
}

footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}

footer .text span a{
    font-weight: 500;
    color: #ffffff;
}

footer .text span a:hover{
    text-decoration: underline;
}

.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    background: #fd6267;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display: none;
}

@media(max-width: 1000px){
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: calc(100% /2 -20px);
    }
}

@media(max-width: 900px){
    .about .left img{
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 968px){
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }
    section .main-container{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }
    .hamburg,
    .cancel{
        opacity: 1;
        pointer-events: visible;
    }
    .main-container .content{
        margin-top: 20px;
        width: 80%;
    }
    .social-links{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: 100%;
    }
    .contact .text{
        width: 100%;
    }
}

@media(max-width: 500px){
    main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .main-container button{
        margin-top: 15px;
    }
    .skills-details .boxes .per{
        font-size: 50px;
        color: #fd6267;
    }
}